body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header, footer {
    display: flex;
    align-items: center;
    max-height: fit-content;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 8px 0px;
}

footer {
    justify-content: center;
    padding: 16px 0px;
}

nav {
    display: flex;
    gap: 16px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

h2 {
    font-size: 24px;
    margin: 16px 0px;
}

h1{
    color: #F9FAF8;
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

h1.btxt {
    font-size: 24px;
    font-weight: 700;
}

.btxt {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

.stxt {
    font-size: 18px;
    color: #E5E7EB99;
    margin: 0;
}

#button1 {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 20px;
    border-radius: 8px;
    border: 0;
}

#div1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 48px 0px;
}

#div2 {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 8px;
}

#div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB66;
    padding: 32px 16px;
    width: 600px;
    height: 150px;
}

#div4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0px;
}

#div5 {
    display: flex;
    gap: 48px;
    justify-content: center;
}

.div6 {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
}

.img1 {
    border: 3px solid #3882F6;
    border-radius: 8px;
    width: 200px;
    height: 200px;
}

#div7 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #E5E7EB;
    color: #1F2937;
    min-height: 200px;
}